body{
    background: wheat;
}
.main .gua-word{
    background: rgba(147,128,110,0.5);
    border-radius: 4px;
    margin: 0 30px 0 30px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.main .body{
    overflow-wrap: break-word;
    border-radius: 4px;
    position: relative;
    height: 100%;
    width: 95%;
    margin: 10px 30px 0 30px;
    background: rgba(147,128,110,0.5);
}
.gua-word img{
    position: relative;
    left: 20px;
    width: 40px;
    height: 40px;
}
.gua-word a{
    color: white!important;
}
.gua-word .search-form{
    width: 20%;
}
.gua-word input{
    padding: 3px 5px 3px 15px;
    position: relative;
    right: 60%;
    width: 100%;
    border-radius: 20px;
}
.search-form input:focus {
    outline:none;
    border: 1px solid green;
}
.gua-word span{
    position: relative;
    right: 12%;
    font-size: 22px;
}
.systems-setting{
    position: relative;
    right: 10px;
}
.topicComments{
    position: relative;
    height: 80%;
    display: flex;
    flex-direction: column;
}
.topicMain,.addComment,.topicComments{
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    color: white;
}
.addComment{
    margin-bottom: 0;
}
.topicTitle{
    margin: 20px 0 20px 20px;
}
.topicInformation{
    border-bottom: 1px solid white;
}
.topicInformation ul{
    display: inline-block;
}
.topicBody{
    padding: 20px;
    border-bottom: 1px solid white;
}
.addComment{
    border-top: 1px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    margin-top: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
}
.addComment textarea{
    border-radius: 10px;
    position: relative;
    left: 10%;
    width: 80%;
    height: 180px;
}
.addComment button{
    left: 10%;
    position: relative;
    width: 80%;
}
.addComment button:hover{
    cursor: pointer;
}
.commentTime{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.commentBodys{
    margin: 20px;
    border-radius: 4px;
    border: 2px solid white;
}
.commentAll{
    border-bottom: 2px solid white;
}
.commentAll:last-child{
    border-bottom: none;
}
.commentAll:hover{
    cursor: pointer;
    background: white;
    color: black;
    border-bottom: 2px solid white;
}