body{
   margin: 0 !important;
}
.main{
    background-size: 100% 100%;
    background: url(../images/topic_back.jpg)100% no-repeat;
    position: absolute;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}
.main .head, .main .footer{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 10%;
}
.main .footer{
    height: 10%;
}
.main .body{
     position: relative;
     width: 100%;
     height: 90%;
 }
.main  .setting{
    width: 25%;
    position: relative;
    height: 96%;
    display: flex;
    margin-right: 30px;
    align-items: center;
    justify-content: flex-start;
}
.main .left-body{
    width: 100%;
}
.main  .setting img{
    margin-right: 15px;
}
.setting img:hover{
    cursor: pointer;
}
.img-setting{
    width: 40px;
    height: 40px;
}
.img-logout{
    width: 36px !important;
    height: 36px !important;
}
.main .body{
    display: flex;
    justify-content: space-between;
}
.main .body .left-body{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin-left: 30px;
    margin-right: 30px;
    width: 75%;
}
.body .left-body .common{
    position: relative;
    height: 12%;
    width: 100%;
    margin-top: 10px;
}
.main .body .right-body{
    margin-right: 30px;
    position: relative;
    width: 25%;
}
.main .body .right-body .top-decoration{
    border-radius: 4px;
    background: rgba(0,0,0,0.4);
    text-align: center;
    position: relative;
    width: 100%;
    height: 35%;
}
.search input{
    width: 100%;
}
.search-input{
    position: relative;
    top:15px;
    width: 80%;
}
.board {
    display: flex;
    justify-content: center;
    width: 70%;
}
.search {
    width: 30%;
}
.board .title{
    position: relative;
    width: 70%;
    font-size: 45px;
    color: black;
    font-weight: bolder;
    font-family: monospace;
}
.topic-all{
    position: absolute;
    bottom: 20px;
}
.search-form{
    width: 45%;
    bottom: 15px;
}
.left-body .contents{
    background: rgba(0,0,0,0.4);
    border-radius: 5px;
    width: 100%;
    height: 95%;
}
.right-body .person{
    height: 20% !important;
    margin-bottom: 5%;
}
.contents .content-head{
    color: white;
    font:bolder;
    background: #8DB6CD;
    position: relative;
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contents .content-body{
    color: #ffffff;
    display: flex;
    margin: 10px 0 10px 10px ;
    width: 97%;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
}
.tab-pane{
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0 10px 20px;
}
.tabbable{
    position: relative;
    width: 100%;
}

.contents .content-body a {
    width: 30%;
    text-align: center;
    overflow: hidden;
}
.tab-pane:hover{
    color: black;
    cursor: pointer;
    background: white;
}
.tabPane{
    text-align: center;
    height: 28px;
    width: 65px;
    border-radius: 5px;
}
.tabPane a{
    color: white !important;
}
.community-name{
    color: white;
    padding: 10px;
}
.top-decoration{
    background-color: white;
    position: relative;
    height: 250px;
}
.top-decoration a{
    margin-bottom: 20px;
    text-decoration: none;
    text-align: center;
    display: block;
}
.community{
    margin-top: 20px;
    position: relative;
    width: 90%;
    left: 7%;
    height: 128px;
}
.community a{
    color: white !important;
}
.community a:hover{
    border-radius: 5px;
    color: black;
    cursor: pointer;
    background: white;
}
.head-body{
    margin-top: 10px;
    color: #FFFF00;
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 30px;
    margin-left: 30px;
}
.gua-word{
    background: rgba(0,0,0,0.4);
    display: flex;
    float: right;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    position: relative;
    height: 80%;
    width: 100%;
    font-family: cursive;
}
.gua-word img{
   margin-left: 30px;
}
.gua-word span{
    color: white;
    font-size: 23px;
    position: relative;
    right: 150px;
}
.quote{
    text-align: right;
    position: relative;
    right: 400px;
}
.hotTopic{
    margin-bottom:5%;
}
.nav .active a{
    color: greenyellow !important;
}
.search-form{
    width: 20%;
}
.systems-setting{
    margin-right: 2%;
}
.systems-setting a{
    color: white!important;
}
.systems-setting a:hover{
    text-decoration: none;
    cursor: pointer;
}
.search-form input{
    margin-left: -124%;
    padding: 3px 5px 3px 22px;
    color: #666;
    border: 0;
    margin-top: 2px;
    transition: all .5s;
    position: relative;
    top: 50%;
    padding-left: 10px;
    border-radius: 20px;
    width: 100%;
}
.search-form input:focus {
    outline:none;
    border: 1px solid green;
}
.head-body image{
    width: 20px;
    height: 20px;
}
.top-decoration .community-div{
    margin-bottom: 0!important;
}