
body{
    position: absolute;
    width: 100%;
    height: 100%;
}
#main{
    margin: 0 !important;
    position: relative;
    overflow-y: auto;
    min-width: 100%;
    min-height: 100%;
    background: rgba(0,0,0,0.4);
    background-size: 100% 100%;
    background-image: url("../images/topic_back.jpg");
    /*background-repeat: repeat-x;*/
    background-position: center 0;
}
#content{
    display: flex;
    justify-content: center;
    position: relative;
    left: 10%;
}
.panel{
    position: relative;
    width: 100%;
}
.editor_buttons{
    display: flex;
    justify-content: space-around;
}
.editor_buttons input, .editor_buttons button{
    flex: 0 0 40%;
}
.cancel {
    display: flex;
}
.cancel a{
    color: white!important;
    flex: 0 0 100%;
}

