<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Topic</title>
    <link href="http://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="http://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="../../static/css/topic_index.css">
</head>
<body>
<div class="main">
    <div class="head">
        <div class="head-body">
            <blockquote class="gua-word"> 掏粪的奥秘充满了艺术和灵魂!</blockquote>
        </div>
        <div class="setting">
            <img class="img-setting" src="../../static/images/setting.png">
            <img class="img-logout" src="../../static/images/logout.png">
            <img class="img-logout" src="../../static/images/about.png">
        </div>
    </div>
    <div class="body">
        <div class="left-body">
            <div class="contents">

                    <div class="content-body">

                        <div class="tabbable"> <!-- Only required for left/right tabs -->
                            <ul class="nav nav-tabs">
                                {% for b in boards %}
                                    {% if b.id == board_id %}
                                        {% set cls = 'active' %}
                                    {% else %}
                                        {% set cls = '' %}
                                    {% endif %}
                                    <li class=" tabPane {{  cls }}"><a href="/topic?board_id={{ b.id }}">{{ b.title }}</a></li>
                                {% endfor %}
                            </ul>
                            <div class="tab-content">
                                {% for b in boards %}
                                    {% if b.id == board_id %}
                                        {% set cls = 'active' %}
                                    {% else %}
                                        {% set cls = '' %}
                                    {% endif %}
                                <div class="tab-pane {{ cls }}" id=`tab{{b.id}}`>
                                    <a>{{b.id | lastContent}}</a>
                                    <a>{{b.id | topicTotals}}</a>
                                    <a>{{b.id | topicUT}}</a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>

            </div>
        </div>
        <div class="right-body">
            <div class="top-decoration hotTopic">

            </div>
            <div class="top-decoration">
                <div class="community-name">友 情 社 区</div>
                <div class="community">
                    <a  href="https://vip.cocode.cc" >炼瓜所</a>
                    <a  href="http://www.ruanyifeng.com/home.html" >阮一峰个人博客</a>
                    <a  href="http://www.yinwang.org" >王垠个人博客</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>