<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Topic</title>
    <link href="http://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="http://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="../../static/css/topic_index.css">
</head>
<body>
<div class="main">
    <div class="head">
        <div class="head-body">
            <div class="gua-word">
                <img src="../../static/images/javascript_1.png">
                <form class="navbar-search pull-left search-form">
                    <input type="text" class="search-query" placeholder="Search">
                </form>
                <span>掏粪的奥秘充满了艺术和灵魂!</span>
                <div class="systems-setting">
                    <a>关于</a>
                    <a href="/login?next_url=/topic">登陆</a>
                    <a  href="/register">注册</a>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="left-body">
            <div class="contents">
                    <div class="content-body">
                        <div class="tabbable"> <!-- Only required for left/right tabs -->
                            <ul class="nav nav-tabs">
                                {% for b in boards %}
                                    {% if b.id == board_id  %}
                                        {% set cls = 'active' %}
                                    {% else %}
                                        {% set cls = '' %}
                                    {% endif %}
                                    <li class=" tabPane {{  cls }}"><a href="/topic?board_id={{ b.id }}">{{ b.title }}</a></li>
                                {% endfor %}
                            </ul>
                            <div class="tab-content">
                                {% for b in topics %}
                                    {% if board_id !== 1 %}
                                        {% if b.board_id == board_id %}
                                            {% set cls = 'active' %}
                                        {% else %}
                                ￼              {% set cls = '' %}
                                        {% endif %}
                                        <div class="tab-pane {{ cls }}" id=`tab{{b.id}}`>
                                            <a>{{b.board_id}}</a>
                                            <a>{{b.title}}</a>
                                            <a>{{b.user_id}}</a>
                                            <a>{{b.ut}}</a>
                                        </div>
                                    {% endif %}
                                    {% if board_id === 1 %}
                                        {% set cls = 'active' %}
                                        <div class="tab-pane {{ cls }}" id=`tab{{b.id}}`>
                                                <a>{{b.board_id}}</a>
                                               <a>{{b.title}}</a>
                                               <a>{{b.user_id}}</a>
                                               <a>{{b.ut}}</a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="right-body">
            <div class="top-decoration person">

            </div>
            <div class="top-decoration hotTopic">

            </div>
            <div class="top-decoration hotTopic">

            </div>
        </div>
    </div>
</div>
</body>
</html>